/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

:root {
  background: var(--in-content-box-background);
  color: var(--text-color);
  cursor: default;
  font: message-box;
  --icon-size: 1.3em;
  --indent-size: 1.3em;
  --indent-offset-size: 0px;
  --twisty-size: 0.8em;
}

:root,
body {
  margin: 0;
  padding: 0;
}

#searchbar::before,
#searchbox-clear::before,
.label::before,
.twisty::before {
  background: currentColor;
  color: inherit;
  content: "";
  display: inline-block;
  height: var(--icon-size);
  line-height: var(--icon-size);
  margin-right: 0.25em;
  mask: url("/resources/Globe.svg") no-repeat center / 100%;
  max-height: var(--icon-size);
  max-width: var(--icon-size);
  width: var(--icon-size);
}



#searchbar {
  background: -moz-Field;
  border: 1px solid var(--in-content-box-border-color);
  color: -moz-FieldText;
  display: flex;
  flex-direction: row;
  height: 1.5em;
  left: 0.2em;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0.2em;
  top: 0.2em;
  --icon-size: 1em;
}

#searchbar:hover {
  border-color: currentColor;
}

#searchbar.active {
  border-color: var(--in-content-border-highlight);
}

input:focus {
  box-shadow: none;
}

#searchbar::before,
#searchbox-clear::before  {
  background: GrayText;
  margin: 0.25em;
  mask-image: url("/resources/SearchWindows.svg");
}

#searchbox {
  background: transparent;
  border: none;
  color: -moz-FieldText;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

#searchbar.blank #searchbox-clear {
  display: none;
}

#searchbox-clear {
  border: none;
  background: transparent;
  min-height: 0;
  min-width: 0;
  padding: 0;
}

#searchbox-clear::before {
  mask-image: url("/resources/SearchCancel.svg");
}



#content {
  bottom: 0;
  left: 0;
  line-height: 1.6;
  overflow-y: auto;
  position: fixed;
  right: 0;
  scrollbar-width: thin;
  top: 2em;
}

:root.left-scrollbar #content {
  direction: rtl;
}
:root.left-scrollbar ul#root {
  direction: ltr;
}

#content,
ul#root,
ul#root ul {
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: 100%;
}

ul#root li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.row {
  border: 1px solid transparent;
  border-width: 1px;
  color: inherit;
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-overflow: ".."; /* ellipsis */
  white-space: pre;
}

ul#root li[data-drop-position="self"] > .row {
  color: var(--in-content-selected-text);
  background: var(--in-content-item-selected);
}

ul#root li[data-drop-position="before"] > .row {
  border-top-color: currentColor;
}

ul#root li[data-drop-position="after"] > .row {
  border-bottom-color: currentColor;
}

.row:hover,
.row:hover * {
  color: var(--text-color);
}
.row:hover {
  background: var(--in-content-button-background);
}

.row:focus {
  outline: none;
}

.active > .row,
.active > .row *,
.highlighted > .row,
.highlighted > .row * {
  color: var(--text-color);
}
.active > .row,
.highlighted > .row {
  background: var(--in-content-button-background);
}

#root.active .active > .row,
#root.active .active > .row *,
#root.active .highlighted > .row,
#root.active .highlighted > .row * {
  color: var(--in-content-selected-text);
}
#root.active .active > .row,
#root.active .highlighted > .row {
  background: var(--in-content-item-selected);
}

.folder > .row {
  --indent-offset-size: calc(var(--twisty-size) * 1.3);
}

.folder.blank > .row > .twisty {
  visibility: hidden;
}

.bookmark > .row {
  cursor: pointer;
}

.bookmark.unavailable > .row {
  cursor: default;
}

.bookmark.unavailable > .row > * {
  opacity: 0.65;
}

.separator {
  line-height: 0;
}

.separator > .row {
  padding-bottom: 0.4em;
  padding-top: 0.4em;
}

.separator > .row::before {
  border-top: 1px solid var(--in-content-deemphasized-text);
  content: " ";
  display: block;
  font-size: 1px;
}

.collapsed ul {
  display: none;
}

.twisty {
  background: none;
  border: none;
  height: var(--icon-size);
  margin: 0 calc(var(--icon-size) / 5) 0 0;
  min-width: 0;
  padding: 0;
  width: var(--icon-size);
  --icon-size: var(--twisty-size);
}
.twisty:focus,
.twisty:hover,
.twisty:active {
  background: none;
  border: none;
  box-shadow: none;
}

.label::before {
  background-color: var(--in-content-deemphasized-text);
  mask-image: url("/resources/Globe.svg");
}

.folder > .row > .label::before {
  background: url("/resources/places/folder.svg") no-repeat center / 100%;
  mask: none;
}

.folder[data-id="menu________"] > .row > .label::before {
  background-image: url("/resources/places/bookmarksMenu.svg");
}

.folder[data-id="toolbar_____"] > .row > .label::before {
  background-image: url("/resources/places/bookmarksToolbar.svg");
}

.folder[data-id="unfiled_____"] > .row > .label::before {
  background-image: url("/resources/places/unfiledBookmarks.svg");
}

.twisty::before {
  mask-image: url("/resources/ArrowheadDown.svg");
}

.folder.collapsed > .row > .twisty::before {
  mask-image: url("/resources/ArrowheadRight.svg");
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--dark-sidebar);
    --text-color: var(--grey-20);
    background: var(--bg-color);
    scrollbar-color: var(--in-content-border-hover) var(--in-content-page-background);
  }

  #root.active .active > .row,
  #root.active .highlighted > .row {
    background: var(--in-content-button-background);
  }

  .folder > .row > .label::before {
    background: url("/resources/places/folder-dark.svg") no-repeat center / 100%;
    mask: none;
  }

  .folder[data-id="menu________"] > .row > .label::before {
    background-image: url("/resources/places/bookmarksMenu-dark.svg");
  }

  .folder[data-id="toolbar_____"] > .row > .label::before {
    background-image: url("/resources/places/bookmarksToolbar-dark.svg");
  }

  .folder[data-id="unfiled_____"] > .row > .label::before {
    background-image: url("/resources/places/unfiledBookmarks-dark.svg");
  }
}
